.DS_Store
.idea
.git
Thumbs.db

!/.idea
/.idea/*
!/.idea/inspectionProfiles/Project_Default.xml
!/.idea/modules.xml
!/.idea/polyphill.iml
!/.idea/vcs.xml

/var
/vendor

/.phpunit.result.cache
/composer.lock
/phpunit.xml.dist.bak
